
<h2></h2>
<div class="details-navigation">
  <img src="assets/icon-arrow-left.svg" alt="left purple arrow">
  <button routerLink="/invoice-list">Go back</button>
</div>

<div class="invoice-actions">
  <div class="invoice-status">
    <small>Status</small>
    <payment-status [invoice]="invoice"></payment-status>
  </div>
  <div class="invoice-btn-group">
    <btn data-btn-class="edit">Edit</btn>
    <btn data-btn-class="delete">Delete</btn>
    <btn data-btn-class="paid" *ngIf="invoice.status !== 'paid'">Mark as paid</btn>
    <btn data-btn-class="paid" *ngIf="invoice.status === 'paid'">Mark as pending</btn>
  </div>
</div>

<section class="invoice">
  <div class="invoice-details">
    <div class="invoice-header">
      <p class="invoice-id accent">{{invoice.id}}</p>
      <p class="invoice-description">{{invoice.description}}</p>
    </div>
    <div class="sender-address">
      <p>{{invoice.senderAddress.street}}</p>
      <p>{{invoice.senderAddress.city}}</p>
      <p>{{invoice.senderAddress.postCode}}</p>
      <p>{{invoice.senderAddress.country}}</p>
    </div>
    <div class="billing-information">
      <div>
        <p>Invoice Date</p>
        <p class="accent">{{invoice.createdAt}}</p>
      </div>
      <div>
        <p>Payment Due</p>
        <p class="accent">{{invoice.paymentDue}}</p>
      </div>
    </div>
    <div class="client-address">
      <p>Bill to</p>
      <p class="accent">{{invoice.clientName}}</p>
      <p>{{invoice.clientAddress.street}}</p>
      <p>{{invoice.clientAddress.city}}</p>
      <p>{{invoice.clientAddress.postCode}}</p>
      <p>{{invoice.clientAddress.country}}</p>
    </div>
    <div class="send-to">
      <p>Send to</p>
      <p class="accent">{{invoice.clientEmail}}</p>
    </div>
  </div>
  <div class="items">
    <table *ngIf="window.innerWidth > 768">
      <thead>
      <tr>
        <th>Item Name</th>
        <th>QTY.</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let item of invoice.items">
        <td class="item-name accent">{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td class="currency">{{item.price | number: '.2'}}</td>
        <td class="total currency accent">{{item.total | number: '.2'}}</td>
      </tr>
      </thead>
    </table>
    <div class="item-list"  *ngIf="window.innerWidth < 768" >
      <div class="item"*ngFor="let item of invoice.items">
        <div >
          <p class="item-name accent">{{item.name}}</p>
          <p>{{item.quantity}} x <span class="currency">{{item.price | number: '.2'}}</span></p>
        </div>
        <p class="total currency accent">{{item.total | number: '.2'}}</p>
      </div>
    </div>

    <div class="amount">
      <p>Amount Due</p>
      <h2 class="currency">{{invoice.total | number:'.2'}}</h2>
    </div>
  </div>

</section>



