@font-face {
  font-family: "League Spartan";
  src: url("assets/font/LeagueSpartan-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}
[data-theme=light] {
  --main-content-background-color: hsl(240, 27%, 98%);
  --invoice-card-clr: hsla(0, 0%, 100%, 1);
  --text-primary-clr: hsla(231, 28%, 7%, 1);
  --text-secondary-clr:hsla(231, 36%, 63%, 1);
  --text-tertiary-clr: hsla(231, 23%, 61%, 1);
  --text-highlight-clr:hsla(252, 94%, 67%, 1);
  --btn-text-primary-clr: hsla(0, 0%, 100%, 1);
  --btn-text-secondary-clr: hsla(231, 36%, 63%, 1);
  --btn-text-tertiary-clr: hsla(231, 20%, 61%, 1);
  --btn-primary-clr: hsl(252, 94%, 67%);
  --btn-primary-hover-clr:hsla(252, 100%, 73%, 1);
  --btn-delete-clr: hsla(0, 80%, 63%, 1);
  --btn-delete-hover-clr: hsla(0, 100%, 80%, 1);
  --btn-edit-clr: hsla(231, 67%, 99%, 1);
  --btn-edit-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-new-clr: hsla(231, 67%, 99%, 1);
  --btn-new-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-draft-clr:hsla(231, 20%, 27%, 1);
  --btn-draft-bg-clr: hsla(231, 20%, 27%, 0.05);
  --item-bg: hsla(231, 67%, 99%, 1);
}

[data-theme=dark] {
  --main-content-background-color: hsl(233, 30%, 11%);
  --invoice-card-clr: hsla(233, 31%, 17%, 1);
  --text-primary-clr: hsla(0, 0%, 100%, 1);
  --text-secondary-clr:hsla(231, 36%, 63%, 1);
  --text-tertiary-clr: hsla(231, 75%, 93%, 1);
  --text-highlight-clr:hsla(252, 94%, 67%, 1);
  --btn-text-primary-clr: hsla(0, 0%, 100%, 1);
  --btn-text-secondary-clr: hsla(231, 36%, 63%, 1);
  --btn-text-tertiary-clr: hsla(231, 20%, 61%, 1);
  --btn-primary-clr: hsl(252, 94%, 67%);
  --btn-primary-hover-clr:hsla(252, 100%, 73%, 1);
  --btn-delete-clr: hsla(0, 80%, 63%, 1);
  --btn-delete-hover-clr: hsla(0, 100%, 80%, 1);
  --btn-edit-clr: hsla(233, 30%, 21%, 1);
  --btn-edit-hover-clr: hsla(0, 0%, 100%, 1);
  --btn-new-clr: hsla(231, 67%, 99%, 1);
  --btn-new-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-draft-clr:hsla(231, 75%, 93%, 1);
  --btn-draft-bg-clr: hsla(231, 75%, 93%, 0.05);
  --item-bg: hsla(233, 30%, 21%, 1);
}

[data-btn-class=delete] button {
  background: var(--btn-delete-clr);
  color: var(--btn-text-primary-clr);
  width: 89px;
}
[data-btn-class=delete] button:hover {
  background: var(--btn-delete-hover-clr);
}

[data-btn-class=edit] button {
  background: var(--btn-edit-clr);
  color: var(--btn-text-secondary-clr);
  width: 73px;
}
[data-btn-class=edit] button:hover {
  background: var(--btn-edit-hover-clr);
}

[data-btn-class=new] button {
  background: var(--btn-new-clr);
  color: var(--btn-text-secondary-clr);
  width: 89px;
}
[data-btn-class=new] button:hover {
  background: var(--btn-new-hover-clr);
}
@media screen and (min-width: 768px) {
  [data-btn-class=new] button {
    width: 150px;
  }
}

[data-btn-class=general] button {
  background: var(--btn-primary-clr);
  color: var(--btn-text-primary-clr);
  width: 89px;
}
[data-btn-class=general] button:hover {
  background: var(--btn-primary-hover-clr);
}
@media screen and (min-width: 768px) {
  [data-btn-class=general] button {
    width: 150px;
  }
}

[data-btn-class=paid] button {
  background: var(--btn-primary-clr);
  color: var(--btn-text-primary-clr);
  width: 149px;
}
[data-btn-class=paid] button:hover {
  background: var(--btn-primary-hover-clr);
}

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 100svh;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.invoice-list-header {
  padding: 2rem;
  width: 87%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .invoice-list-header {
    width: 60%;
  }
}
.title {
  text-align: left;
}
.title .headline {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.75px;
}

.subtitle, .subtitle-empty {
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--text-secondary-clr);
}
.subtitle::after, .subtitle-empty::after {
  content: " Invoices";
}

@media screen and (min-width: 768px) {
  .subtitle::before {
    content: "There are ";
  }
  .subtitle::after {
    content: " total Invoices";
  }
}
.invoice-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter {
  padding-inline: 5px;
  position: relative;
}
.filter span {
  margin-right: 0.5rem;
}
.filter:hover {
  cursor: pointer;
}
.filter label {
  text-transform: capitalize;
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .filter span::after {
    content: " by status";
  }
}
.filter-content {
  width: 192px;
  height: 128px;
  position: absolute;
  top: 35px;
  left: -45px;
  background: var(--invoice-card-clr);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(72, 84, 159, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1rem;
  z-index: 5;
  opacity: 1;
  border: none;
  transition: height 0.5s linear, opacity 0.7s;
}

.filter-content.hidden {
  height: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: height 1s linear, opacity 0.1s;
}

.btn-new {
  width: 32px;
  height: 32px;
  background: white;
}

[data-btn-class=general] {
  position: relative;
}

[data-btn-class=general]::before {
  content: "";
  background-image: url("../../../../assets/icon-plus.svg"), linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
  bottom: 11px;
  border-radius: 50%;
}

[data-btn-class=general]::after {
  content: "New";
  position: absolute;
  right: 9px;
  bottom: 16px;
  border-radius: 50%;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--btn-text-primary-clr);
}

@media screen and (min-width: 768px) {
  [data-btn-class=general]::after {
    content: "New Invoice";
    right: 15px;
  }
}
.empty-invoice-list {
  width: 327px;
  transform: translateY(50%);
}

/*# sourceMappingURL=invoice-list.component.css.map */
