@use '../../../../index' as *;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height:100svh;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.invoice-list-header {
  padding: 2rem ;
  width: 87%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .invoice-list-header {
    width: 60%;
  }
}
.title {
  text-align: left;
  .headline{
    @include text-headline();
  }

}

.subtitle, .subtitle-empty {
  @include text-secondary();
  color: var(--text-secondary-clr);

  &::after {
    content: " Invoices";
  }
}

@media screen and (min-width: 768px) {
  .subtitle {

    &::before {
      content: "There are ";
    }

    &::after {
      content: " total Invoices";
    }
  }
}

.invoice-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter{
  padding-inline: 5px;
  position: relative;

  span {
    margin-right: .5rem;
  }

  &:hover {
    cursor: pointer;
  }
  label {
    text-transform: capitalize;
    padding-left: .5rem;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    span::after {
      content: " by status";
    }
  }
}

.filter-content{
  width: 192px;
  height: 128px;
  position: absolute;
  top: 35px;
  left: -45px;
  background: var(--invoice-card-clr);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(72, 84, 159, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1rem;
  z-index: 5;
  opacity: 1;
  border: none;
  transition: height .5s linear, opacity .7s;
}

.filter-content.hidden {
  height: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: height 1s linear, opacity .1s;
}

.btn-new {
    width: 32px;
    height: 32px;
    background: white;
}

[data-btn-class="general"]{
  position: relative;
}
[data-btn-class="general"]::before {
  content: "";
  background-image: url("../../../../assets/icon-plus.svg"), linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
  bottom: 11px;
  border-radius: 50%;
}
[data-btn-class="general"]::after {
  content: "New";
  position: absolute;
  right: 9px;
  bottom: 16px;
  border-radius: 50%;
  @include text-primary();
  color: var(--btn-text-primary-clr);
}

@media screen and (min-width: 768px) {
  [data-btn-class="general"]::after  {
    content: "New Invoice";
    right: 15px;
  }

}

.empty-invoice-list {
  width: 327px;
  transform: translateY(50%);
}
