@charset "UTF-8";
@font-face {
  font-family: "League Spartan";
  src: url("assets/font/LeagueSpartan-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}
[data-theme=light] {
  --main-content-background-color: hsl(240, 27%, 98%);
  --invoice-card-clr: hsla(0, 0%, 100%, 1);
  --text-primary-clr: hsla(231, 28%, 7%, 1);
  --text-secondary-clr:hsla(231, 36%, 63%, 1);
  --text-tertiary-clr: hsla(231, 23%, 61%, 1);
  --text-highlight-clr:hsla(252, 94%, 67%, 1);
  --btn-text-primary-clr: hsla(0, 0%, 100%, 1);
  --btn-text-secondary-clr: hsla(231, 36%, 63%, 1);
  --btn-text-tertiary-clr: hsla(231, 20%, 61%, 1);
  --btn-primary-clr: hsl(252, 94%, 67%);
  --btn-primary-hover-clr:hsla(252, 100%, 73%, 1);
  --btn-delete-clr: hsla(0, 80%, 63%, 1);
  --btn-delete-hover-clr: hsla(0, 100%, 80%, 1);
  --btn-edit-clr: hsla(231, 67%, 99%, 1);
  --btn-edit-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-new-clr: hsla(231, 67%, 99%, 1);
  --btn-new-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-draft-clr:hsla(231, 20%, 27%, 1);
  --btn-draft-bg-clr: hsla(231, 20%, 27%, 0.05);
  --item-bg: hsla(231, 67%, 99%, 1);
}

[data-theme=dark] {
  --main-content-background-color: hsl(233, 30%, 11%);
  --invoice-card-clr: hsla(233, 31%, 17%, 1);
  --text-primary-clr: hsla(0, 0%, 100%, 1);
  --text-secondary-clr:hsla(231, 36%, 63%, 1);
  --text-tertiary-clr: hsla(231, 75%, 93%, 1);
  --text-highlight-clr:hsla(252, 94%, 67%, 1);
  --btn-text-primary-clr: hsla(0, 0%, 100%, 1);
  --btn-text-secondary-clr: hsla(231, 36%, 63%, 1);
  --btn-text-tertiary-clr: hsla(231, 20%, 61%, 1);
  --btn-primary-clr: hsl(252, 94%, 67%);
  --btn-primary-hover-clr:hsla(252, 100%, 73%, 1);
  --btn-delete-clr: hsla(0, 80%, 63%, 1);
  --btn-delete-hover-clr: hsla(0, 100%, 80%, 1);
  --btn-edit-clr: hsla(233, 30%, 21%, 1);
  --btn-edit-hover-clr: hsla(0, 0%, 100%, 1);
  --btn-new-clr: hsla(231, 67%, 99%, 1);
  --btn-new-hover-clr: hsla(231, 73%, 93%, 1);
  --btn-draft-clr:hsla(231, 75%, 93%, 1);
  --btn-draft-bg-clr: hsla(231, 75%, 93%, 0.05);
  --item-bg: hsla(233, 30%, 21%, 1);
}

[data-btn-class=delete] button {
  background: var(--btn-delete-clr);
  color: var(--btn-text-primary-clr);
  width: 89px;
}
[data-btn-class=delete] button:hover {
  background: var(--btn-delete-hover-clr);
}

[data-btn-class=edit] button {
  background: var(--btn-edit-clr);
  color: var(--btn-text-secondary-clr);
  width: 73px;
}
[data-btn-class=edit] button:hover {
  background: var(--btn-edit-hover-clr);
}

[data-btn-class=new] button {
  background: var(--btn-new-clr);
  color: var(--btn-text-secondary-clr);
  width: 89px;
}
[data-btn-class=new] button:hover {
  background: var(--btn-new-hover-clr);
}
@media screen and (min-width: 768px) {
  [data-btn-class=new] button {
    width: 150px;
  }
}

[data-btn-class=general] button {
  background: var(--btn-primary-clr);
  color: var(--btn-text-primary-clr);
  width: 89px;
}
[data-btn-class=general] button:hover {
  background: var(--btn-primary-hover-clr);
}
@media screen and (min-width: 768px) {
  [data-btn-class=general] button {
    width: 150px;
  }
}

[data-btn-class=paid] button {
  background: var(--btn-primary-clr);
  color: var(--btn-text-primary-clr);
  width: 149px;
}
[data-btn-class=paid] button:hover {
  background: var(--btn-primary-hover-clr);
}

:host {
  box-sizing: border-box;
  background: var(--invoice-card-clr);
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
  border-radius: 8px;
  padding: 1rem;
  height: 134px;
  width: 87%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "id client" "dueDate status" "total status";
  align-items: center;
  justify-items: flex-start;
}
:host:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :host {
    height: 72px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "id dueDate client total status";
    position: relative;
  }
  :host::after {
    content: "";
    background-image: url("/assets/icon-arrow-right.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
  }
}
@media screen and (min-width: 1440px) {
  :host {
    width: 60%;
  }
}
.invoice-id {
  grid-area: id;
}

.invoice-id::before {
  content: "#";
  color: var(--text-secondary-clr);
}

.client-name {
  color: var(--text-tertiary-clr);
  grid-area: client;
  justify-self: flex-end;
}

.due-date {
  color: var(--text-tertiary-clr);
}

.due-date::before {
  content: "Due ";
  color: var(--text-tertiary-clr);
}

.total::before {
  content: "£ ";
}

.payment-status {
  grid-area: status;
  justify-self: flex-end;
}

@media screen and (min-width: 768px) {
  .client-name {
    justify-self: flex-start;
  }
  .payment-status {
    justify-self: inherit;
  }
}

/*# sourceMappingURL=invoice-list-item.component.css.map */
